{% extends "base.html" %}

{% block content %}
<div class="card text-center">
  <div class="card-header" style="background-color: #e3f2fd; color: 000034;">
    particpent Details
  </div>
  <div class="card-body">
    <h5 class="card-title" style="color: 000034;">{{participants.name}}</h5>
    <div class="card-body">
    <div class="row">
      {% for x in loan %}
      <div class="col-sm-4">
        <div class="card">
          <div class="card-body">
            <div class= "col">
              <a href="{% url 'pyment-list' x.id %}" class="btn" style="background-color: #e3f2fd; color: black;">
                <h4 class="card-title">Loan Number : {{x.id}}</h4>
              </a>
            </div>
            <div class= "col">
              <h5 class="card-title btn">Loan Amount: {{x.loan_amount}}</h5>
              
            </div>
            <div class= "col">
                <h5 class="card-title btn">Hold Amount {{x.hold_amount}}</h5>
            </div>
            <div class= "col">
              <h5 class="card-title btn">Profet Amount {{x.profit_amount}}</h5>
            </div>

          </div>
        </div>
      </div>
      {% endfor %}
      </div>
      {% if request.user.is_authenticated %}
      <!-- add link to add loan  -->
      <a href="{% url 'loan-create' participants.id %}" class="btn" style="background-color: #000034; color: white;">Add loan</a>
       <a href="{% url 'hold-list' participants.id %}" class="btn" style="background-color: #000034; color: white;">Add hold amount</a>
      {%endif%}
  </div>



{% endblock content %}
